17.12.31.40377
Debug
System.IO.Pipelines.9.0.0
System.Text.Encodings.Web.9.0.0
System.Text.Json.9.0.0
/PinterestDemo/packages/System.Threading.Tasks.Extensions.4.6.0
System.ValueTuple.4.5.0
Owin.1.0
/PinterestDemo/packages/RestSharp.112.1.0
Microsoft.Owin.Host.HttpListener.4.2.2
System.Runtime.CompilerServices.Unsafe.6.1.0
Microsoft.Bcl.AsyncInterfaces.9.0.0
Microsoft.Owin.Hosting.4.2.2
packages
bin
FileContentIndex
